@charset "UTF-8";

*{
    /*height: 100%;*/
    font-family: Arial, Helvetica, sans-serif;
}

body {
    background-image: linear-gradient(to right, #BABE9E, #F2D08F);
}

main{
    background-color: white;
    border-radius: 10px;
    box-shadow: 5px 5px 15px rgba(163, 141, 100, 0.747);
    width: 600px;
    padding: 10px;
    margin: auto;
}

h1 {
    color: #B25D3C;
    text-align: center;
    text-shadow: 1px 1px 2px rgb(119, 62, 39);
}

h2 {
    color: #2D363C;
}


p {
text-align: justify;
}